* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}



.container {
    display: flex;
    flex-direction: column;
    height: 100vh;


}

.nav {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;

}

.nav-date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.nav-menu {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;

}

.content {
    display: flex;
    flex-direction: row;

}

.todolist {
    width: 20%;
}

.todolist-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px black solid;
    position: relative;
}

#todolist-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: 600px;


}

todo-card {
    width: 100%;

}


.input-area {
    border: 0;
    padding-left: 10px;
    width: 100%;
    height: 30px;
    font-size: 15px;

}

.submit-button {
    background: none;
    border: 0;
    font-size: 30px;
    right: 10px;
    position: absolute;
}

.table {
    width: 80%;
    display: flex;
    flex-direction: column;

}

.table-head {
    display: flex;
    flex-direction: row;

}

#table-body {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    margin: 0;
    padding: 5px;
    height: 8vh;
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    border: black 1px solid;

}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}